# (# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# pytest
.cache
.pytest_cache/

# mypy
.mypy_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# MkDocs documentation
/site

# pyright type checker
.pyright/

# pyre type checker
.pyre/

# VS Code settings
.vscode/

# Mac specific
.DS_Store

# pickle files
*.pkl
!le_city.pkl
!le_aqi_bucket.pkl

)
